<%- include("template/cabecera") %>
    <div class="container">
        <H1>
            <%= titulo %>
        </H1>

        <% if (error) { %>
            <H1>
                <%= mensaje %>
            </H1>
        <% } %>

        <% if (!error) { %>
            
            <form action="/editar" method="PUT">
                <input name="nombre" type="text" placeholder="Nombre" class="form-control my-2" value="<%= mascota.nombre %>">
                <input name="descripcion" type="text" placeholder="Descripción" class="form-control my-2" value="<%= mascota.descripcion %>">
                <button type="submit" class="btn btn-success btn-block">Editar</button>
            </form>

            



        <% } %>

        
        
        <a href="/mascotas" class="btn btn-dark bt-block my-2">Volver a mascotas</a>
    </div>
    <%- include("template/footer") %>